body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:lightblue;
}

.text{
	align-self: center;
}

.card-body{
	font-size: medium;
	color: darkblue;
}


h1 {
  color:darkblue;
}


.footer{
	color: darkblue;
}
