extends ../layout

block content

  <h1> FeedBack Page </h1>
    .row
        .col-sm-8
            h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-info float-right") GiveFeedback
    table.table
        thead
            tr
                th Name
                th Feedback
                th actions

        tbody
            each product in products
                tr  
                    td=product.name
                    td=product.service
                    td
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit/"+product._id, class="btn btn-info") Edit


